<%- model_class = User -%>
<%= provide(:title, t('users.password_reset.label'))%>
<div class="container">
<div class="page-header">
  <h1><%=t 'users.password_reset.label'%></h1>
</div>
<%= form_for @user, :url => password_reset_path(params[:id]) do |f| %>
    <% if @user.errors.any? %>
        <div id="error_expl" class="panel panel-danger">
          <div class="panel-heading">
            <h3 class="panel-title">
              <%= t('activerecord.error', :count => @user.errors.count) %>
            </h3>
          </div>
          <div class="panel-body">
            <ul>
              <% @user.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        </div>
    <% end %>

    <div style="max-width: 317px; margin: 0 auto">
        <div class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password, :class => 'form-control' %>
        </div>
      <div class="form-group">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, :class => 'form-control' %>
      </div>
      <div class="form-group">
          <%= f.submit nil, :class => 'btn btn-primary form-control' %>
      </div>
    </div>
<% end %>
</div>