<div class="container-fluid">
  <% if !@articles.empty? %>
      <% first_article = @articles.first %>
      <div class="jumbotron">
        <h2><%= first_article.title%></h2>
        <%= html_intro_article(first_article) %>
        <p>
          <div style="display: block">
            <% first_article.photos.each do |photo| %>
              <%= image_tag image_photo_url(photo, :thumb), style: "float: right; width: 64px; height: 64px;" %>
            <% end %>
          </div>
        </p>
        <p style='clear: both'><%= link_to "more", [first_article.user, first_article], class: "btn btn-primary btn-lg", role: "button" %></p>
      </div>

      <%= render partial: 'articles/article_list', locals: {articles: @articles.drop(1)} %>
  <% end %>

  <%= render partial: 'photos' %>
</div>