<div class="container-fluid">
  <% if !@articles.empty? %>
      <% first_article = @articles.first %>
      <div class="jumbotron article-preview">
          <h2 class="article-header"><%= link_to first_article.title, first_article %></h2>
          <% if first_article.photos.any? %>
              <div class="jcarousel">
                <ul>
                  <% first_article.photos.each do |photo| %>
                      <li><%= image_tag image_photo_url(photo, :thumb)%></li>
                  <% end %>
                </ul>
              </div>
          <% end %>
          <p><%= html_intro_article(first_article) %></p>
          <div class="bottom">
            <%= t 'articles.label.published_by' %> <%= link_to user_title(first_article.user), user_path(first_article.user) %>
            <%= l first_article.published_at, :format => :short %>
          </div>
      </div>

      <%= render partial: 'articles/article_list', locals: {articles: @articles.drop(1)} %>
  <% end %>

  <%= render partial: 'photos' %>
</div>