<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 article-preview">
    <h1 class="article-header"><%= link_to article.title, article %></h1>
    <% if article.photos.any? %>
    <div class="jcarousel">
      <ul>
        <% article.photos.each do |photo| %>
          <li><%= image_tag image_photo_url(photo, :thumb)%></li>
        <% end %>
      </ul>
    </div>
    <% end %>
    <p><%= html_intro_article(article) %></p>
    <div class="bottom">
      <%= t 'articles.label.published_by' %> <%= link_to user_title(article.user), user_path(article.user) %>
      <%= l article.published_at, :format => :short %>
      <br>
      <%= link_to article_path(article, :anchor => 'comments-container') do %>
        <%= t 'comments.label.comments_plural', count: article.comments.count %>
      <% end %>
    </div>
</div>