<div data-role="page" id="users">
  <%= render partial: "shared/header", locals: {title: Article.model_name.human} %>
  <div data-role="content">
  <% @articles.each do |article| %>
  <div class="col-6 col-sm-6 col-lg-4">
    <h2><%= article.title%></h2>
    <p><%= article.content %></p>
    <p><%= link_to "more", article_path(article), class: "btn btn-default", role: "button" %></p>
  </div>
  <% end %>
</div>
<%= render partial: "shared/footer"%>
</div>


<%= link_to 'New Article', new_article_path %>