<div class="container-fluid">
  <% if @articles_in_drafts && @articles_in_drafts.any? %>
    <h3><%= t 'articles.label.your_drafts' %></h3>
    <%= render partial: 'articles/article_list', locals: {articles: @articles_in_drafts} %>
  <% end %>
  <% if @articles_in_sandbox && @articles_in_sandbox.any? %>
    <h3><%= t('articles.label.your_sandbox_published') %></h3>
    <%= render partial: 'articles/article_list', locals: {articles: @articles_in_sandbox} %>
  <% end %>
  <% if @articles && @articles.any? %>
    <h3><%= t('articles.label.your_published') %></h3>
    <%= render partial: 'articles/article_list', locals: {articles: @articles} %>
  <% end %>
</div>