<script type="application/javascript">
    var setMaxArticlePhotoHeight = function() {
        $('div.blog-photo-view img.blog-photo-img').each(function () {
            $(this).setHeightAsWindow($(window).height()/2);
        });
    };

    $(document).ready(function () {
        setMaxArticlePhotoHeight();
        $(window).resize(setMaxArticlePhotoHeight);
    });
</script>

<div class="container">
    <div class="page-header">
        <h1><%= @article.title %>
            <% if admin_or_current?(@article.user) %>
                <%= link_to [@article.user, @article], data: { confirm: "Are you sure?" },
                            class: "pull-right btn btn-danger btn-xs", :method => "delete" do %>
                    <span class='glyphicon glyphicon-trash'></span>
                <% end %>
                <%= link_to edit_user_article_path(@article.user, @article), class: "pull-right btn btn-warning btn-xs" do %>
                    <span class='glyphicon glyphicon-edit'></span></a>
                <% end %>
            <% end %>
            <%= link_to @article.user.name, user_path(@article.user), class: "pull-right btn btn-primary btn-xs" %>
        </h1>
    </div>
    <%= html_content_article(@article) %>
</div>