<script type="application/javascript">
    var setMaxArticlePhotoHeight = function() {
        $('div.blog-photo-view img.blog-photo-img').each(function () {
            $(this).setHeightAsWindow($(window).height()/2);
        });
    };

    $(document).ready(function () {
        setMaxArticlePhotoHeight();
        $(window).resize(setMaxArticlePhotoHeight);
    });
</script>

<div class="container">
        <h2><%= @article.title %></h2>
        <h5 class="text-right">
          <%= t 'articles.label.published_by' %> <%= link_to @article.user.name, user_path(@article.user) %>
          <%= t 'at' %> <%= l @article.created_at, :format => :short %>
          <% if admin_or_current?(@article.user) %>
              <%= link_to edit_user_article_path(@article.user, @article),
                          style: 'font-size: 1.2em; color: green; margin-left: 3px;' do %>
                  <span class='glyphicon glyphicon-edit'></span></a>
              <% end %>
              <%= link_to [@article.user, @article], data: { confirm: "Are you sure?" },
                          :method => "delete", style: 'font-size: 1.2em; color: red; margin-left: 3px;' do %>
                  <span class='glyphicon glyphicon-trash'></span>
              <% end %>
          <% end %>
        </h5>
    <%= html_content_article(@article) %>
</div>