<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 user-card">
<%= link_to user_path(user) do %>
<div  class="user-card-block">
  <%= image_tag image_avatar_url(user, :original)%>
  <div class="user-card-body">
    <h1 class="media-heading"><%= user_title(user) %></h1>
    <h2><%= masked_user_email(user) %></h2>
    <h5 class="text-right"><%= t 'users.label.since_from', :date => l(user.created_at, :format => :short) %></h5>
  </div>
  <div class="user-card-footer">
    <% if admin? %>
        <%= link_to t("helpers.links.edit"),
                    edit_user_path(user), :class => 'text-warning' %>
        <%= link_to t("helpers.links.destroy"),
                    user_path(user), :method => :delete,
                    :data => { :confirm => 'Are you sure?' },
                    :class => 'text-danger'  %>
    <% end %>
  </div>
  <% if user.online? %>
    <div class="online-marker"></div>
  <% end %>
</div>
<% end %>
</div>