<% content_for (:head) do %>
    <%= stylesheet_link_tag 'custom/jcrop' %>
    <%= javascript_include_tag 'custom/jcrop' %>
    <script type="text/javascript">
        $(function() {
            $('#cropbox').Jcrop({
                addClass: 'jcrop-dark',
                onChange: update_crop,
                onSelect: update_crop,
                setSelect: [0, 0, 500, 500],
                aspectRatio: 1
            });
        });

        function update_crop(coords) {
            $('#crop_x').val(Math.floor(coords.x));
            $('#crop_y').val(Math.floor(coords.y));
            $('#crop_w').val(Math.floor(coords.w));
            $('#crop_h').val(Math.floor(coords.h));
        }
    </script>
<% end %>

<div class="container">
  <div class="page-header">
    <h1><%= t 'users.crop_avatar' %></h1>
  </div>
  <div class="span7 text-center">
    <p style="width:500px; margin: 0 auto 20px">
      <%= image_tag @user.avatar.url(:original), :id => "cropbox" %>
    </p>
    <%= form_for @user, url: crop_avatar_user_path(@user), method: 'post' do |form| %>
      <% for attribute in [:crop_x, :crop_y, :crop_w, :crop_h] %>
        <%= form.hidden_field attribute, :id => attribute %>
      <% end %>
      <p><%= form.submit t('helpers.submit.user.update'), class: 'btn btn-primary btn-lg' %></p>
    <% end %>
  </div>
</div>