<%= provide(:title, @user.name) %>
<%- model_class = User -%>

<div class="container" id="user-profile-container">
  <div class="row">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-3 col-lg-3 " align="center"><%= image_tag image_avatar_url(@user, :original), alt: "User Pic", class: "img-circle user-avatar"%></div>
        <div class=" col-md-9 col-lg-9 col-xs-12 ">
          <%= link_to user_photos_path(@user), class: 'col-md-4 col-lg-4 col-xs-12 btn btn-primary' do %>
              <%= t 'photos.label.photos', :count => @user.photos.count %> <%= badge(@user.photos.count, :none) %>
          <% end %>
          <%= link_to user_articles_path(@user), class: 'col-md-4 col-lg-4 col-xs-12 btn btn-primary' do %>
              <%= t 'articles.label.articles', :count => @user.articles.count %> <%= badge(@user.articles.count, :none) %>
          <% end %>
          <%= link_to user_albums_path(@user), class: 'col-md-4 col-lg-4 col-xs-12 btn btn-primary' do %>
              <%= t 'albums.label.albums', :count => @user.albums.count %> <%= badge(@user.albums.count, :none) %>
          <% end %>
          <table class="table table-user-information">
            <tbody>
            <tr>
              <td><%= model_class.human_attribute_name(:name) %>:</td>
              <td><%= @user.name %></td>
            </tr>
            <tr>
              <td><%= model_class.human_attribute_name(:email) %>:</td>
              <td><%= admin_or_current?(@user) ? mail_to(@user.email) : @user.email.gsub(/.{1,}@/, '***@') %></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>