<%= provide(:title, @user.name) %>
<%- model_class = User -%>

<div class="container" id="user-profile-container">
  <div class="row">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-3 col-lg-3 " align="center"><%= image_tag image_avatar_url(@user, :original), alt: "User Pic", class: "img-circle user-avatar"%></div>
        <div class=" col-md-9 col-lg-9 col-xs-12 ">
          <table class="table table-user-information">
            <tbody>
            <tr>
              <td><%= model_class.human_attribute_name(:name) %>:</td>
              <td><%= @user.name %></td>
            </tr>
            <tr>
              <td><%= model_class.human_attribute_name(:email) %>:</td>
              <td><%= masked_user_email(@user) %></td>
            </tr>
            <tr>
              <td><%= model_class.human_attribute_name(:first_name) %>:</td>
              <td><%= @user.first_name %></td>
            </tr>
            <tr>
              <td><%= model_class.human_attribute_name(:last_name) %>:</td>
              <td><%= @user.last_name %></td>
            </tr>
            <tr>
              <td><%= model_class.human_attribute_name(:gender) %>:</td>
              <td><%= gender(@user) %></td>
            </tr>
            <tr>
              <td><%= model_class.human_attribute_name(:date_of_birth) %>:</td>
              <td><%= birthday(@user) %></td>
            </tr>
            <tr>
              <td><%= model_class.human_attribute_name(:country) %>:</td>
              <td><%= @user.country %></td>
            </tr>
            <tr>
              <td><%= model_class.human_attribute_name(:city) %>:</td>
              <td><%= @user.city %></td>
            </tr>
            <tr>
              <td><%= model_class.human_attribute_name(:last_login_time) %>:</td>
              <td><%= l @user.last_login_time, :format => :short %></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>