<% content_for :head do %>
    <%= javascript_include_tag 'custom/nanogallery', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'custom/nanogallery', 'data-turbolinks-track' => true %>
<% end %>

<script type="text/javascript" charset="utf-8">
    var loadLastFilm = function () {
        jQuery("#lastFilm").nanoGallery({
            thumbnailWidth: 100,
            thumbnailHeight: 100,
            thumbnailLabel: {display: false},
            thumbnailDisplayInterval: 10,
            thumbnailDisplayTransition: true,
            theme: 'clean',
            paginationMaxLinesPerPage: 1,
            thumbnailHoverEffect: [{'name': 'scale120'}],
            i18n:{
                paginationPrevious: '<%= t 'nanoGallery.paginationPrevious' %>',
                paginationNext: '<%= t 'nanoGallery.paginationNext' %>'
            }
        });
    }
    $(document).ready(loadLastFilm);
</script>

<h3><%= link_to (t 'photos.label.last100'), photos_url %></h3>
<div id="lastFilm">
  <% @photos.each do |photo| %>
      <%= link_to photo.title, photo.get_url(:original), 'data-ngdest' => photo_url(photo) ,'data-ngThumb' => photo.get_url(:thumb) %>
  <% end %>
</div>