<% modal ||= false %>
<% remote = modal ? true : false %>

<%= form_for(@album, remote: remote, html: {role: :form, 'data-model' => 'album', id: 'album-form'}) do |f| %>
  <% if @album.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title">
          <%= t('activerecord.error', :count => @album.errors.count) %>
        </h3>
      </div>
      <div class="panel-body">
        <ul>
          <% @album.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title, class: 'control-label' %><br>
    <%= f.text_field :title, class: 'form-control' %>
    <span class="help-block"></span>
  </div>
  <div class="form-group">
    <%= f.submit nil, class: 'btn btn-primary' %>
  </div>
<% end %>

<% if @album.errors.any? %>
  <script type="application/javascript">
    $(document).ready(function () {
      $('#album-form').renderFormErrors(<%= @album.errors.to_json.html_safe %>);
    })
  </script>
<% end %>