<% content_for :head do %>
    <%= javascript_include_tag 'custom/nanogallery', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'custom/nanogallery', 'data-turbolinks-track' => true %>
<% end %>

<script type="application/javascript">
    var loadGallery = function () {
        $(document).ready(function () {
            $("#gallery").nanoGallery({
                thumbnailWidth: 'auto',
                thumbnailHeight: 240,
                thumbnailHoverEffect: [
                    { name: 'labelAppear75', duration: 300 }
                ],
                thumbnailGutterWidth: 4,
                thumbnailGutterHeight: 4,
                theme: 'clean',
                thumbnailLabel: {
                    position: 'overImageOnBottom',
                    hideIcons: true}
            });
        });
    }
    $(document).ready(loadGallery);
</script>

<div class="container-fluid">
  <div class="page-header">
    <h3><%=t 'albums.label.albums'%> - "<%= @owner.name %>"</h3>
  </div>

  <div id="gallery">
      <% @albums.each do |album| %>
          <%= link_to album.title, '#', 'data-ngThumb' => image_album_url(album, :small), 'data-ngdest' => user_album_path(album.user, album), 'data-ngdesc' => "<a href=\"#\">photos #{album.photos.count}</a>" %>
      <% end %>
  </div>

  <% if current_user?(@owner) %>
      <div class="span7 text-center">
          <%= link_to 'New', new_user_album_path(current_user), :class => 'btn btn-primary btn-lg' %>
      </div>
  <% end %>

</div>

<div class="container-fluid">

</div>