<% content_for :head do %>
  <%= javascript_include_tag 'custom/justified'%>
  <%= stylesheet_link_tag 'custom/justified'%>
<% end %>

<div class="container-fluid">
  <h3>
    <%=t 'albums.label.your_albums'%>
    <%= link_to new_album_path, remote: :true, :class => 'btn btn-success btn-xs pull-right' do %>
      <i class="glyphicon glyphicon-plus"></i>
    <% end %>
  </h3>

  <div id="albums-area">
    <% @albums.each do |album| %>
      <%= render partial: 'album_item', locals: {album: album} %>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $("#albums-area").justifiedGallery({
      sizeRangeSuffixes : {
        'lt100': '','lt240': '','lt320': '','lt500': '','lt640': '','lt1024': ''
      },
      rowHeight : 240,
      margins : 3,
      captions : true,
      captionSettings : {
        animationDuration : 500,
        visibleOpacity : 1,
        nonVisibleOpacity : 0.5
      },
      refreshTime : 100
    });
  })
</script>

<div class="modal fade" id="new_album_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">Loading...</div>