<% content_for :head do %>
    <%= javascript_include_tag 'custom/nanogallery', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'custom/nanogallery', 'data-turbolinks-track' => true %>
<% end %>

<script type="application/javascript">
    var loadGallery = function () {
        $(document).ready(function () {
            $("#gallery").nanoGallery({
                thumbnailWidth: 'auto',
                thumbnailHeight: 240,
                thumbnailHoverEffect: [
                    { name: 'labelAppear75', duration: 300 }
                ],
                thumbnailGutterWidth: 4,
                thumbnailGutterHeight: 4,
                theme: 'clean',
                thumbnailLabel: {
                    position: 'overImageOnBottom',
                    hideIcons: true}
            });
        });
    }
    $(document).ready(loadGallery);
</script>

<div class="container-fluid">
  <div class="page-header">
    <h3><%= t 'albums.label.name', :name => @album.title %>
      <% if admin_or_current?(@album.user) %>
        <%= link_to [@album.user, @album], method: 'DELETE' ,class: 'pull-right btn btn-xs btn-danger',
                    :data => { :confirm => t('albums.confirm.delete', :name => @album.title) } do %>
          <i class="glyphicon glyphicon-trash"></i>
        <% end %>
      <% end %>
    </h3>
  </div>

  <% if @album.photos.count > 0 %>
    <div id="gallery">
      <% @album.photos.each do |photo| %>
        <%= link_to photo.title, image_photo_url(photo, :medium), 'data-ngThumb' => image_photo_url(photo, :small), 'data-ngdesc' => photo.user.name %>
      <% end %>
    </div>
  <% end %>
</div>