<div class="blog-sub-content">
    <div class="blog-photo-view" id="<%= photo_id(photo) %>">
        <%= link_to_photo(photo, context: article) do %>
            <%= image_tag(image_photo_url(photo, mobile? ? :s500 : :medium), class: 'blog-photo-img') %>
        <% end %>
        <div class="blog-photo-caption"><%= photo.title %></div>
        <% if photo.exif %>
            <div class="meta-info text-left">
              <h1><%= t 'photos.label.exif' %></h1>
              <p class="one-line"><%= "Camera: #{photo.exif['Model']}" %></p>
              <p class="one-line"><%= "ExposureTime: #{photo.exif['ExposureTime']}" %></p>
              <p class="one-line"><%= "Focal: #{photo.exif['FocalLength']}" %></p>
              <p class="one-line"><%= "Aperture: f/#{photo.exif['FNumber']}" %></p>
              <p class="one-line"><%= "ISO: #{photo.exif['ISO']}" %></p>
            </div>
        <% end %>
    </div>
</div>