<% content_for :head do %>
    <%= javascript_include_tag 'custom/fileupload', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'custom/fileupload', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'custom/gallery', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'custom/gallery', 'data-turbolinks-track' => true %>
<% end %>

<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery">
  <!-- The container for the modal slides -->
  <div class="slides"></div>
  <!-- Controls for the borderless lightbox -->
  <h3 class="title"></h3>
  <a class="prev">‹</a>
  <a class="next">›</a>
  <a class="close">×</a>
  <a class="play-pause"></a>
  <ol class="indicator"></ol>
  <!-- The modal dialog, which will be used to wrap the lightbox content -->
  <div class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" aria-hidden="true">&times;</button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body next"></div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left prev">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Previous
          </button>
          <button type="button" class="btn btn-primary next">
            Next
            <i class="glyphicon glyphicon-chevron-right"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<%= form_tag({action: :create}, method: "post", id: "fileupload", multipart: :true)  do %>
  <div class="row fileupload-buttonbar">
    <div class="col-lg-7">
      <span class="btn btn-success fileinput-button">
        <i class="glyphicon glyphicon-plus"></i>
        <span><%=t 'photos.uploader.ui.b_add_files'%></span>
        <%= file_field_tag "image[]", multiple: true %>
      </span>
      <button type="submit" class="btn btn-primary start">
        <i class="glyphicon glyphicon-upload"></i>
        <span><%=t 'photos.uploader.ui.b_start_upload'%></span>
      </button>
      <button type="reset" class="btn btn-warning cancel">
        <i class="glyphicon glyphicon-ban-circle"></i>
        <span><%=t 'photos.uploader.ui.b_cancel_upload'%></span>
      </button>
      <button type="button" class="btn btn-danger delete">
        <i class="glyphicon glyphicon-trash"></i>
        <span><%=t 'photos.uploader.ui.b_delete'%></span>
      </button>
      <input type="checkbox" class="toggle">
      <!-- The global file processing state -->
      <span class="fileupload-process"></span>
    </div>
    <!-- The global progress state -->
    <div class="col-lg-5 fileupload-progress fade">
      <!-- The global progress bar -->
      <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar progress-bar-success" style="width:0%;"></div>
      </div>
      <!-- The extended global progress state -->
      <div class="progress-extended">&nbsp;</div>
    </div>
  </div>
  <!-- The table listing the files available for upload/download -->
  <table role="presentation" class="table table-striped"><tbody class="files"></tbody></table>
<% end %>

<%if @maxFiles < 1%>
    <script type="application/javascript">
        $("#fileupload :button").attr("disabled", true);
        $("#fileupload :input").attr("disabled", true);
        $(".fileinput-button").attr("disabled", true);
    </script>
<%end%>

<script type="application/javascript">
    var loadPlugin = function () {
        console.info('Load JQuery FileUpload Plugin');
        $('#fileupload').fileupload({
            dataType: 'json',
            acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
            maxFileSize: 5000000, // 5 MB
            minFileSize: 100000, // 100 KB
            maxNumberOfFiles: <%= @maxFiles %>,
            messages: {
                maxNumberOfFiles: '<%=t 'photos.uploader.ui.js_errors.maxNumberOfFiles'%>',
                acceptFileTypes: '<%=t 'photos.uploader.ui.js_errors.acceptFileTypes'%>',
                maxFileSize: '<%=t 'photos.uploader.ui.js_errors.maxFileSize'%>',
                minFileSize: '<%=t 'photos.uploader.ui.js_errors.minFileSize'%>',
                unknownError: '<%=t 'photos.uploader.ui.js_errors.unknownError'%>'
            }
        });

        // loading animation
        $('#fileupload').addClass('fileupload-processing');
        $.ajax({
            dataType: 'json',
            context: $('#fileupload')[0]
        }).always(function () {
            $(this).removeClass('fileupload-processing');
        }).done(function (result) {
            $(this).fileupload('option', 'done')
                    .call(this, $.Event('done'), {result: result});
        });
    };
    $(document).ready(loadPlugin);
    $(document).on('page:load',loadPlugin);
</script>

<!-- The template to display files available for upload -->
<script id="template-upload" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
        <td>
            <span class="preview"></span>
        </td>
        <td>
            <p class="name">{%=file.name%}</p>
            <strong class="error text-danger"></strong>
        </td>
        <td>
            <p class="size"><%=t 'photos.uploader.ui.l_processing'%></p>
            <div class="progress progress-striped active" role="progressbar"
                 aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                 <div class="progress-bar progress-bar-success" style="width:0%;"></div>
            </div>
        </td>
        <td>
            {% if (!i && !o.options.autoUpload) { %}
                <button class="btn btn-primary start" disabled>
                    <i class="glyphicon glyphicon-upload"></i>
                    <span><%=t 'photos.uploader.ui.b_start'%></span>
                </button>
            {% } %}
            {% if (!i) { %}
                <button class="btn btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span><%=t 'photos.uploader.ui.b_cancel'%></span>
                </button>
            {% } %}
        </td>
    </tr>
{% } %}
</script>
<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
        <td>
            <span class="preview">
                {% if (file.thumbnailUrl) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery>
                      <img src="{%=file.thumbnailUrl%}">
                    </a>
                {% } %}
            </span>
        </td>
        <td>
            <p class="name">
              <span>{%=file.name%}</span>
            </p>
            {% if (file.error) { %}
                <div><span class="label label-danger"><%=t 'photos.uploader.ui.l_error'%></span> {%=file.error%}</div>
            {% } %}
        </td>
        <td>
            <span class="size">{%=o.formatFileSize(file.size)%}</span>
        </td>
        <td>
            {% if (file.deleteUrl) { %}
                <button class="btn btn-danger delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}"
                    {% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
                    <i class="glyphicon glyphicon-trash"></i>
                    <span><%=t 'photos.uploader.ui.b_delete'%></span>
                </button>
                <input type="checkbox" name="delete" value="1" class="toggle">
            {% } else { %}
                <button class="btn btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span><%=t 'photos.uploader.ui.b_cancel'%></span>
                </button>
            {% } %}
        </td>
    </tr>
{% } %}
</script>