<% content_for :head do %>
    <%= javascript_include_tag 'custom/gallery', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'custom/gallery', 'data-turbolinks-track' => true %>
<% end %>

<%= title (@photo.title) %>

<%= render partial: 'shared/blueimp_controls' %>

<div id="replaceable">
  <%= render 'photo_with_context', photo: @photo %>
</div>