<% content_for :head do %>
    <%= javascript_include_tag 'custom/gallery', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'custom/gallery', 'data-turbolinks-track' => true %>
<% end %>
<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery" data-use-bootstrap-modal="false">
  <!-- The container for the modal slides -->
  <div class="slides"></div>
  <!-- Controls for the borderless lightbox -->
  <h3 class="title"></h3>
  <a class="prev">‹</a>
  <a class="next">›</a>
  <a class="close">×</a>
  <a class="play-pause"></a>
  <ol class="indicator"></ol>
  <!-- The modal dialog, which will be used to wrap the lightbox content -->
  <div class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" aria-hidden="true">&times;</button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body next"></div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left prev">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Previous
          </button>
          <button type="button" class="btn btn-primary next">
            Next
            <i class="glyphicon glyphicon-chevron-right"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="span7 text-center" id="photo-container">
  <%= link_to get_photo(@photo, :original), :title => @photo.title, 'data-gallery' => '' do %>
    <%= image_tag get_photo(@photo, :medium), :alt => @photo.title, :id => 'main-photo' %>
  <% end %>
</div>

<div class="description-panel">
<div class="panel-heading">
  <%= image_tag get_avatar(@photo.user), :class => "[ img-circle pull-left ]" %>
  <h3><%= @photo.user.name %></h3>
  <h5><span><%= @photo.title %></span> - <span><%= @photo.created_at %></span> </h5>
</div>
<div class="panel-body">
  <p><%= @photo.description %></p>
</div>
<div class="panel-footer">
  <%= link_to @photo.user.name, user_path(@photo.user), class: "btn btn-warning btn-xs" %>
  <% if admin_or_current?(@photo.user) %>
      <%= link_to edit_user_photo_path(@photo.user, @photo), class: "btn btn-danger btn-xs" do %>
          <span class='glyphicon glyphicon-edit'></span></a>
      <% end %>
      <%= link_to [@photo.user, @photo], data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-xs", :method => "delete" do %>
          <span class='glyphicon glyphicon-trash'></span>
      <% end %>
  <% end %>
</div>
</div>