<% content_for :head do %>
    <%= javascript_include_tag 'custom/gallery', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'custom/gallery', 'data-turbolinks-track' => true %>
<% end %>
<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery" data-use-bootstrap-modal="false">
  <!-- The container for the modal slides -->
  <div class="slides"></div>
  <!-- Controls for the borderless lightbox -->
  <h3 class="title"></h3>
  <a class="prev">‹</a>
  <a class="next">›</a>
  <a class="close">×</a>
  <a class="play-pause"></a>
  <ol class="indicator"></ol>
  <!-- The modal dialog, which will be used to wrap the lightbox content -->
  <div class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" aria-hidden="true">&times;</button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body next"></div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left prev">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Previous
          </button>
          <button type="button" class="btn btn-primary next">
            Next
            <i class="glyphicon glyphicon-chevron-right"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="span7 text-center" id="photo-container">
  <%= link_to get_photo(@photo, :original), :title => @photo.title, 'data-gallery' => '' do %>
    <%= image_tag get_photo(@photo, :medium), :alt => @photo.title, :id => 'main-photo' %>
  <% end %>
</div>

<div class="container">

<div class="row">
  <div class="col-sm-6" id="context-user">
    <%= render partial: 'context_user' %>
  </div>
  <div class="col-sm-6 ">
    <div class="context-block">
      <h4>uploaded at <span><%= l @photo.created_at, :format => :short %></span></h4>
    </div>
    <div class="context-block" id="context-albums">
      <%= render partial: 'context_albums' %>
    </div>
  </div>
</div>

</div>