<% content_for :head do %>
    <%= javascript_include_tag 'custom/gallery', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'custom/gallery', 'data-turbolinks-track' => true %>
<% end %>

<%= render partial: 'shared/blueimp_controls' %>

<div class="span7 text-center" id="photo-container">
  <% if @photo.prev(@context) %>
    <%= link_to_photo @photo.prev(@context), context: @context do %>
      <div class="nav prev"><span class="glyphicon glyphicon-chevron-left"></span></div>
    <% end %>
  <% end %>
  <% if @photo.next(@context) %>
    <%= link_to_photo(@photo.next(@context), context: @context) do %>
      <div class="nav next"><span class="glyphicon glyphicon-chevron-right"></span></div>
    <% end %>
  <% end %>
  <%= link_to image_photo_url(@photo, :original), :title => @photo.title, 'data-gallery' => '' do %>
    <%= image_tag image_photo_url(@photo, :medium), :alt => @photo.title, :id => 'main-photo' %>
    <%= link_to "#{url_for(@context)}##{photo_id(@photo)}", id: "return-link",  class: "bottom-link has-tooltip",
                title: t('photos.label.return_to_context', context: @context.class.model_name.human), data: {placement: "top"} do %>
      <span class="glyphicon glyphicon-circle-arrow-left"></span>
    <% end if @context %>
  <% end %>
</div>

<div class="container">

<div class="row">
  <div class="col-sm-6" id="context-user">
    <%= render partial: 'context_user' %>
  </div>
  <div class="col-sm-6 ">
    <div class="context-block">
      <h4>uploaded at <span><%= l @photo.created_at, :format => :short %></span></h4>
    </div>
    <div class="context-block" id="context-albums">
      <%= render partial: 'context_albums' %>
    </div>
  </div>
</div>

</div>