<% case subject.commentable.class.name %>
 <% when 'Article' %>
   <div class="commentable">
     <%= image_tag image_avatar_url(subject.user), class: 'avatar' %>
     <div class="user">
       <% if current_user?(subject.user) %>
         <%= t('activities.comment_posted_to_article_by_yourself') %>
       <% else %>
         <%= link_to user_title(subject.user), subject.user %>
         <%= t('activities.comment_posted_to_article') %>
       <% end %>
       "<%= link_to subject.commentable.title, subject.commentable %>"
     </div>
     <p class="content"><%= subject.content %></p>
   </div>
<% end %>
