<% user = subject.user
   object = subject.voteable
   model_name = subject.voteable.class.name.downcase
   activity_name = 'vote_posted' %>

<% case model_name %>
  <% when 'photo' %>
    <div class="voteable">
      <%= image_tag image_avatar_url(user), class: 'avatar' %>
      <%= link_to object do %>
        <%= image_tag image_photo_url(object, :thumb), class: 'preview' %>
      <% end %>
      <div class="user with-preview">
        <% if current_user?(user) %>
          <%= t("activities.#{activity_name}_to_#{model_name}_by_yourself") %>
        <% else %>
          <%= link_to user_title(user), user %>
          <%= t("activities.#{activity_name}_to_#{model_name}", :gender => user.gender) %>
        <% end %>
        "<%= link_to object.title, object %>"
      </div>
    </div>
<% end %>
