<!DOCTYPE html>
<html>
<head>
  <title><%= (yield(:title)) %></title>
  <meta http-equiv="X-UA-Compatible" content="IE=9" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= yield(:head) %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'shared/header' %>
  <div class="container">
    <%= render partial: "shared/flashmsgs", flash: flash %>
    <%= yield %>
  </div>
  <%= render 'shared/footer' %>
</body>
</html>
