<!DOCTYPE html>
<html>
<head>
  <title><%= (yield(:title)) %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="index,follow">
  <meta http-equiv="X-UA-Compatible" content="IE=9" />
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= yield(:head) %>
  <%= csrf_meta_tags %>
  <script type="application/javascript">
    $(document).ready(function () {
      $('.datepicker').datepicker({
          language: '<%= I18n.locale %>',
          format: 'dd.mm.yyyy'
      });
    });
  </script>
</head>
<body class="<%= body_class %>">
  <%= render partial: 'layouts/header' %>
  <%= render partial: 'layouts/flashmsgs', flash: flash %>
  <%= yield %>
  <%= render 'layouts/footer' %>
</body>
</html>
